<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Junge" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <style type="text/css">
    .centrado{
      display:block;
      margin-left: auto;
      margin-right: auto;
    }
    body {padding: 1.5em;
      font-family: 'Junge', serif;
    }

    div img {
      margin-top: .8em;
      margin-bottom: .5em;
      margin-left: 1em;
      margin-right: .5em;
    }
    .margen1{
      margin-top: 1em;
    }
    .margen{
      margin-top: 2em;
    }
    .margen2{
      margin-top: 10em;
    }
    .margen3{
      margin-top: 8em;
    }
    .destacado {
      margin-left: 2em;
    }
    p{
      font-size: 18px;
    }
  </style>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12"></div>
  </div>
  <div class="row">
    <div class="col-md-5"><img  width="300" height="70" src="http://uestatales.cl/cue/sites/default/files/publicaciones/utem_imagotipoPNG.png" class="img-fluid"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid">
        <br>
        <ul class="nav nav-pills nav-fill" style="background-color: #044f8e;">
          <li class="nav-item" href="/inicio.html">
            <a class="nav-link active" href="../departamento.html" style="color: #ffffff;">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../academico.html"  style="color: #ffffff;">Académicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../investigacion.html"  style="color: #ffffff;">Investigación</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../organizacion.html"  style="color: #ffffff;">Organización</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../contactod.html"  style="color: #ffffff;">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="container-fluid">
        <ol class="breadcrumb margen">
          <li class="breadcrumb-item"><a href="../index2.html">Portal</a></li>
          <li class="breadcrumb-item active">Departamento</li>
        </ol>
        <hr>
      </div>
      <div class="container-fluid margen">
        <div class="list-group">
          <a href="inicio.html" class="list-group-item list-group-item-action">Inicio</a>
          <a href="historia.html" class="list-group-item list-group-item-action">
            Historia
          </a>
          <a href="misionvision.html" class="list-group-item list-group-item-action active">Misión y Visión</a>
          <a href="pde.html" class="list-group-item list-group-item-action">PDE</a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="container-fluid text-left">
        <p class="text-justify margen" >
          Para el Departamento de Informática y Computación de la Facultad de Ingeniería de la UTEM, sus propósitos más importantes lo constituyen su Visión y Misión. Con ellas orientará permanentemente su quehacer. Para concretar lo anterior, se definen las grandes líneas de acción, que conforman los Objetivos Estratégicos y se traza un conjunto estructurado de iniciativas a realizar en el corto y largo plazo, los Programas Estratégicos. Esta declaración estratégica -Visión, Misión, Objetivos Estratégicos y Programas estratégicos constituye la Propuesta de Valor del Departamento de Informática y Computación.
        </p>
        <h2 class="margen1">Misión</h2>
        <br>
        <p class="text-justify destacado" >
          Cultivar el saber propio de las nuevas tecnologías de la informática, computación y comunicaciones acorde con los requerimientos actuales y futuros tanto del país como del mundo global, integrando docencia especializada, investigación preferentemente aplicada, y una proyección social que generen cultura informática coherente con la misión institucional mediante la prestación de servicios de calidad, en el ámbito de la docencia, extensión y transferencia tecnológica.
        </p>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-9 margen">
      <div class="container-fluid text-left">
        <h2 class="">Visión</h2>
        <br>
        <p class="text-justify destacado" >
          El Departamento de Informática y Computación de la Facultad de Ingeniería de la Universidad Tecnológica Metropolitana, tendrá una posición e imagen sólida en el campo de la educación superior universitaria presencial y no presencial y será reconocido por su enfoque pedagógico innovador, por el amplio uso de las NTIC`s, en un marco de colaboración y vinculación académica y empresarial, de referencia nacional e internacional, tanto en la formación de pre y post grado como en la extensión y educación continua, a base de una excelencia académica, de la experiencia y satisfacción que se alcanzará con la investigación aplicada, extensión y transferencia tecnológica y por la calidad de los servicios y consultorías especializadas, ofrecidos por equipos multidisciplinarios de alto nivel académico y profesional.
        </p>
      </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-9 margen">
      <div class="container-fluid text-left">
        <p class="text-justify" >
          Para el logro de su misión, el DIC entregará una formación con una sólida base científica que pueda servir a lo largo de toda la vida profesional. Por este motivo priorizará los conocimientos permanentes, fomentará los hábitos efectivos de trabajo, estimulará la capacidad de autoaprendizaje y de adaptarse a los cambios del entorno y con condiciones de contribuir a la evolución de la tecnología. Como parte de la formación integral, sus docentes contemplarán aspectos éticos y un razonable y honorable desenvolvimiento profesional y personal.
        </p>
        <p class="text-justify" >
          La investigación preferentemente aplicada se convertirá en el eje principal de su accionar, motivada por el conocimiento de los avances científicos y tecnológicos a nivel global e innovación, adaptación y aplicación a las necesidades del país.
        </p>
        <p class="text-justify" >
          El Departamento estará permanentemente atento a detectar y aprovechar las oportunidades para el desarrollo y transferencia tecnológica. Un aspecto importante será que la investigación deberá reflejarse en la enseñanza, lo cual debe redundar en el replantearse del proceso de titulación con orientación a una gestión de procesos en un contexto de calidad y mejoramiento continuo, estandarizado, con procedimientos y elementos de evaluación definidos y controlables.
        </p>
        <p class="text-justify" >
          El Departamento tiene la convicción que la colaboración interinstitucional es de importancia vital, por lo que se crearán los vínculos necesarios con la industria, el gobierno y otras instituciones académicas, a nivel nacional como internacional.
        </p>
      </div>
    </div>
    <br>
    <br>
    <div class="col-md-12 margen2"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <center>
        <a href=""><img src="../imagenes/m1.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="../imagenes/m2.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="../imagenes/m3.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="../imagenes/m4.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="../imagenes/m5.jpg" class="text-center mx-auto float-center"></a>
        <a href=""><img src="../imagenes/m6.jpg" class="text-center mx-auto float-center"></a>
      </center>
      <h6 class="text-center">Dirección: José Pedro Alessandri 1242, Ñuñoa. Teléfono: ...</h6>
      <h6 class="text-center">2017 © UTEM - Todos los derechos reservados.</h6>
    </div>
    <div class="col-md-4"></div>
  </div>
</body>
</div>
</html>